@media screen and (max-device-width: 300px){
	.img{
		display: none;
	}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
 	.p{
		display: block;
 } 
}

@media only screen
and (min-device-width : 320px) { 
 .video{
 	display: none;
 	}
 }
 
