@media screen and (max-width: 300px){
	.img{
		display: none;
	}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
 	.p{
		display: block;
 } 
}

@media
(-webkit-min-device-pixel-ratio: 1),
(min-resolution: 190dpi) { 
 .video{
 	display: none;
 	}
 }
 
